<h1><%= t ".title" %></h1>
<%= link_to t(".add_new_venue"), new_venue_path, class: "btn btn-primary"%>
<table class="table table-hover">
  <thead class="thead-dark">
    <tr>
      <th scope="col"><%= t ".number" %></th>
      <th scope="col"><%= t ".ID" %></th>
      <th scope="col"><%= t ".name" %></th>
      <th scope="col"><%= t ".street" %></th>
      <th scope="col"><%= t ".city" %></th>
      <th scope="col"><%= t ".status" %></th>
    </tr>
  </thead>
  <tbody>
    <%= render partial: "venue_row", collection: @venue_rows %>
  </tbody>
</table>
