<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col"><%= t ".id" %></th>
      <th scope="col"><%= t ".name" %></th>
      <th scope="col"><%= t ".street" %></th>
      <th scope="col"><%= t ".city" %></th>
      <th scope="col"><%= t ".amenities" %></th>
      <th scope="col"><%= t ".status" %></th>
      <th scope="col"><%= t ".edit" %></th>
      <th scope="col"><%= t ".delete" %></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row"><%= @venue.id %></th>
      <td><%= link_to @venue.name %></td>
      <td><%= @venue.address.name %></td>
      <td><%= @venue.address.city %></td>
      <td>
        <%= @venue.amenities.each do |v| %>
        <%= v.name %>
      <% end %>
      </td>
      <td><%= @venue.status %></td>
      <td class = "text-center"><%= link_to t("edit"), edit_venue_path %></td>
      <td class = "text-center"><%= link_to t("delete"), @venue, method: :delete, data: { confirm: t(".deleted") } %></td>
    </tr>
  </tbody>
</table>
