<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container"> <%= link_to t(".title_logo"),root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-left">
      <li>
         <div class="seach">
         <form class="form-inline active-cyan-4">
          <input class="form-control form-control-sm mr-3 w-75" type="text" placeholder="Search"
          aria-label="Search">
          <i class="fas fa-search" aria-hidden="true"></i>
        </form>
         </div>
      </li>
      </ul>
    </nav><nav>
      <ul class="nav navbar-nav navbar-right">
        <li class="btn-group nav-item">
          <li>
            <%= link_to locale: "en" do %>
              <i class="fa fa-globe" aria-hidden="true"></i>EN
            <% end %>
          </li>
        </li>
        <li class="btn-group nav-item">
          <li>
            <%= link_to locale: "vi" do %>
              <i class="fa fa-globe" aria-hidden="true"></i>VI
            <% end %>
          </li>
        </li>
        <% if logged_in? %>
          <% if admin_account? || moderator_account?  %>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <%= t(".title_quanly") %> <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <li><%= link_to t(".title_user"), users_url %></li>
                <li><%= link_to t(".title_venue") %></li>
                <li><%= link_to t(".title_booking") %></li>
              </ul>
            </li>
          <% end %>
          <% if user_account? %>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <%= t(".title_quanlycanhan") %> <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <li><%= link_to t(".title_venue"), venues_url %></li>
                <li><%= link_to t(".title_space"), spaces_url %></li>
                <li><%= link_to t(".title_booking") %></li>
                <li><%= link_to t(".title_payment") %></li>
              </ul>
            </li>
          <% end %>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <%= t(".title_account") %> <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><%= link_to t(".title_profile"), current_user %></li>
              <li><%= link_to t(".title_setting"), edit_user_path(current_user) %></li>
              <li class="divider"></li>
              <li><%= link_to t(".logout"), logout_path, method: :delete %></li>
            </ul>
          </li>
        <% else %>
          <li class="btn-group nav-item">
            <li>
              <%= link_to signup_path do %>
                <i class="fa fa-user-plus" aria-hidden="true"></i><%= t(".signup") %>
              <% end %>
            </li>
          </li>
          <li class="btn-group nav-item">
            <li>
              <%= link_to login_path do %>
                <i class="fa fa-sign-in" aria-hidden="true"></i><%= t(".login") %>
              <% end %>
            </li>
          </li>
        <% end %>
      </ul>
    </nav>
  </div>
</div>
</header>
