<header class="navbar navbar-fixed-top navbar-inverse">
    <div class="container"> <%= link_to t(".title_logo"), "#", id: "logo" %>
        <nav>
            <ul class="nav navbar-nav navbar-left">
            <li>
               <div class="seach">
               <form class="form-inline active-cyan-4">
                  <input class="form-control form-control-sm mr-3 w-75" type="text" placeholder="Search"
                    aria-label="Search">
                  <i class="fas fa-search" aria-hidden="true"></i>
                </form>
               </div>
            </li>
            </ul>
        </nav><nav>
            <ul class="nav navbar-nav navbar-right">
            <li class="nav-item">
                    <li><%= link_to t(".english") %></li>
                </li>
                <li class="btn-group nav-item">
                     <li><%= link_to t(".vietnam") %></li>
                </li>
                <li class="btn-group nav-item">
                     <li><%= link_to t(".signup") %></li>
                </li>
                <li class="dropdown nav-item">
                    <li><%= link_to t(".login") %></li>
                </li>
            </ul>
        </nav>
    </div>
</div>

</header>
